---
import { useEffect } from 'react';

useEffect(() => {
  window.location.href = '/admin/pakete/';
}, []);
---

<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/admin/pakete/" />
    <title>Weiterleitung...</title>
  </head>
  <body>
    <p>Du wirst weitergeleitet…</p>
  </body>
</html>
